@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 64px;
}

@theme inline {
  --font-coterie: var(--font-coterie);
  --font-ephesis: var(--font-ephesis);

  --color-cream: #fcfcff;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
