@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-coterie: var(--font-coterie);
  --font-mono: var(--font-geist-mono);
  --font-ephesis: var(--font-ephesis);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
